header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--verde);
    padding: 0 2vw;

}

header img{
    width: 25vh;
}

header div{
    display: flex;
    gap: 2vw;
    align-items: center;
}

header a{
    text-decoration: none;
    color: var(--branco);
    text-transform: uppercase;
}

header button{
    background-color: var(--branco);
    color: var(--verde);
    padding: 1vh 2vw;
    border-radius: 10px;
    border: none;
    font-family: 'alata';
    font-size: 2.5vh;
}

/* -----------------Start------------------- */


.start{
    background-color: var(--verde);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8vh 0
}

.startInfo{
    max-width: 30vw;
    margin-left: 5vw;
}

.startInfo h1{
    color: var(--branco);
    font-size: 3vw;
    margin-bottom: 3vh;
}

.startInfo p{
    color: var(--branco);
    font-size: 1.2vw;
    opacity: 87%;
    margin-bottom: 3vh;
}

.startInfo button{
    background-color: var(--branco);
    color: var(--verde);
    padding: 2vh 1.5vw;
    border-radius: 5px;
    border: none;
    font-family: 'alata';
    font-size: 2.5vh;
}

.startGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5vw;
    margin-right: 5vw;
}

.startGrid article{
    background-color: var(--branco);
    border-radius: 5px;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vh
}

.secondStartGrid{
    display: grid;
    grid-template-rows: auto auto;
    gap: 1.5vw
}

.startGrid article div{
    background-color: var(--verde);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vh
}

.startGrid article div p{
    color: var(--branco);
    font-size: 1.3vw;
}

.startGrid article div strong{
    color: var(--branco);
    font-size: 1.7vw;
}

.strongInfo{
    color: var(--cinzaEscuro);
    font-size: 1.5vw;
    text-align: center;
    margin-top: 2.5vh;
}

.pStrongInfo{
    color: var(--cinza);
    font-size: 1vw;
    text-align: center;
    margin-top: -1vh;
}

.startGrid article button{
    background-color: var(--verde);
    color: var(--branco);
    border-radius: 5px;
    border: none;
    padding: 1.8vh;
    font-size: 1.2vw;
    margin-top: 3vh;
}

.secondStartGrid article {
    justify-content: space-around;
}

.secondStartGrid article h2{
    color: var(--cinzaEscuro);
    font-size: 1.6vw;
}

.secondStartGrid article a{
    color: var(--verde);
    text-decoration: none;
    font-size: 1.2vw;
}

.secondStartGrid article p{
    color: var(--cinza);
    font-size: 1vw;
}


/* --------------------Info----------------- */

.infoInicial{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.infoInicial p{
    color: var(--verde);
    font-size: 1.2vw;
    font-weight: 600;
}

.infoInicial h2{
    color: var(--cinzaEscuro);
    font-size: 2.5vw;
    font-weight: 400;
}

.infoSec{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
    padding: 5vw;
   
}

.infoSec div{
    max-width: 20vw;
   
}

.infoSec img{
    height: 10vh;

}

.infoSec h3{
    font-size: 1.3vw;
    color: var(--preto)
}

.infoSec p{
    font-size: 1.2vw;
    color: var(--cinza)
}


/* ---------------planos------------------ */
.planos{
    padding: 5vw
}

.planos h2{
    color: var(--cinzaEscuro);
    font-size: 2vw;
    font-weight: 500;
    position: relative;
}

.planos h2::after{
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 5rem;
    height: 1rem;
    background-color: var(--deco1);
    opacity: 30%;
    border-radius: 25px;
}

.planosGrid{
    display: grid;
    grid-template-columns: 48vw 40vw;
    gap: 2vw;
    margin-top: 3rem;
}

.planoGrid{
    padding: 3vw;
    position: relative;
    
}

.planoGrid:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background-color: var(--deco1);
    opacity: 30%;
    border-radius: 5px;
    z-index: -1;
}

.free{
    color: var(--deco2) !important
}

.buttonFree{
    background-color: var(--deco2) !important;
}

.buttonFree:hover{
    background-color: var(--deco2Escuro) !important;
    cursor: pointer;
}

.free::after{
    background-color: var(--deco2) !important;
}

.free::before{
    background-color: var(--deco2) !important;
}

.planoGrid div{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
    background-color: var(--branco);
    z-index: 2;
    position: relative;
    padding: 3vh 1vw 3vh 3vw;
    margin-bottom: 5vh;
}

.planoGrid div::before{
    content: "";
    position: absolute;
    top: 5%;
    left: 1vw;
    width: 0.4rem;
    height: 90%;
    background-color: var(--deco1);
    opacity: 30%;
    border-radius: 5px;
    z-index: -1;
}



.lista{
    position: relative;
    display: flex;
    flex-direction: column;
}

.lista img{
    position: absolute;
    right: 1vw;
    top: 5%;
    width: 1.5rem;
}

.lista h3{
    color: var(--verde);
    font-size: 1.1vw;
    font-weight: 500;
}

.preco{
    color: var(--preto);
    font-size: 2vw;
}

.tamanhoMenor{
    font-size: 1.5vw;
}

.mes{
    color: var(--cinza);
    font-size: 1.3vw;
}

.porAluno{
    color: var(--cinza);
    font-size: 1.3vw;
    font-weight: 400;
    margin-top: -0.5rem;
    margin-bottom: 2vh;
}

.planosGrid ul{
    display: flex;
    flex-direction: column;
}

.planosGrid li{
    color: var(--cinzaEscuro);
    font-size: 1.1vw;
    margin-bottom: 1vh;
}

.planosGrid li::before{
    content: "✓";
    color: var(--verde);
    margin-right: 0.5vw;
}

.lista button{
    border: none;
    background-color: var(--verde);
    color: var(--branco);
    font-family: 'Alata';
    font-size: 1vw;
    border-radius: 5px;
    width: fit-content;
    padding: 1.8vh 2vw;
    margin-top: 5vh;
    transition: .5s;
}

.lista button:hover{
    background-color: var(--verdeEscuro);
    cursor: pointer;
}

.taxas{
    display: flex;
    flex-direction: column;
    gap: 1.5vh
}

.taxas h3{
    color: var(--verde);
    font-size: 1vw;
    font-weight: 100;
}

.taxas p{
    color: var(--cinzaEscuro);
    font-size: 1.2vw;
}

.taxas h4{
    color: var(--cinzaEscuro);
    font-size: 1.5vw;
    font-weight: 100;
}

