
body{
    display: grid;
    grid-template-columns: 15vw 85vw;
    height: 100vh;
    background-color: var(--bc);
}

/* -----------SIDEBAR------------ */
.sidebar{
    background-color: var(--verde);
   
    
}

.teste{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.logo{
    width: 14vw;
    cursor: pointer;
}

.sidebar div div{
    width: 100%;
}

.sidebar div div div{
    color: var(--branco);
    padding: 1.3vh 0;
    margin-bottom: 1vh;
    cursor: pointer;
    width: fit-content;
}


.sidebar div div div a{
    position: relative;
    color: var(--branco);
    text-decoration: none;
}

.sidebar div div div a::after{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--branco);
    transition: 0.3s;
}

.sidebar div div div a:hover::after{
    width: 85%;
}

.entrarSala a, .criar a{
    transition: .5s;
}
.entrarSala a:hover, .criar a:hover{
    transform: scale(1.1);
}

.atual{
    width: 95% !important;
    border-radius: 0px 100px 100px 0px;
    background-color: var(--branco);
    padding: 1.3vh 10vw 1.3vh 0;
    margin-bottom: 1vh;

}

.atual a{
    color: var(--preto) !important;
}



.sidebar div div div a{
    margin-left: 1.5vw;
    font-size: 1vw;
    font-weight: 500;
    width: 100%;
    white-space: nowrap;
}

.sidebar .entrarSala{
    margin-top: 5vh;
    position: relative;
}

.sidebar .entrarSala::before{
    content: "";
    display: flex;
    position: absolute;
    top: -2vh;
    left: 0;
    width: 14vw;
    height: 2px;
    background-color: var(--branco);
}


/* ------------------Main------------------ */
.main{
    margin: 5vh 3vw
}

/* -----------------Header---------------- */
header{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 3vw;
    height: 3vw;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--verde);

}

header h2{
    font-size: 1.5vw;
    font-weight: 500;
    color: var(--cinza)
}

header span{
    font-size: 1.5vw;
    font-weight: 500;
    color: var(--verde)
}

/* ---------------Legenda---------------- */
.title{
    display: flex;
    gap: 4vw;
}
.title h1{
  color: var(--cinzaEscuro);
  font-size: 2vw;
}



/* ---------------Nota---------------- */

.notaContribuinte{
    margin-top: 5vh;
}

.notaContribuinte h3{
    font-size: 1.4vw;
    color: var(--cinza);
    font-weight: 500;
}

.nota{
    font-size: 1.4vw;
    font-weight: 500;
    color: var(--verde);
}

.notaContribuinte h4{
    font-size: 1vw;
    color: var(--cinzaClaro);
    font-weight: 500;
    margin-top: 1vh;
}

.notaContribuinte h4 span{
    font-size: 1vw;
    color: var(--verdeClaro);
    font-weight: 500;
}

.salaButton, .voceButton{
    border: 3px solid var(--cinza);
    font-family: 'Alata';
    font-size: 1vw;
    border-radius: 5px;
    background-color: transparent;
    color: var(--cinza);
    padding: 1vh 1vw;
    transition: .5s;
    margin-right: 1.5vw;
    margin-top: 3vh;
}

.salaButton:hover, .voceButton:hover{
    border-color: var(--verde);
    color: var(--verde);
    cursor: pointer;

}

/* ----------------Info---------------- */
.infoRelatorio{
    margin-top: 3vh;
}



button.relatorioAtual{
    background-color: var(--verde) !important;
    border-color: var(--verde);
    color: var(--branco)
}

button.relatorioAtual:hover{
    cursor: default;
    color: var(--branco)
}

.infoRelatorioGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vh 3vw
}

.infoRelatorioGrid div{
    background-color: var(--branco);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 5vh 0;
    gap: 5vh;
    border-bottom: 5px solid var(--cinza);
    margin-top: 3vh;

}

.infoRelatorioGrid h3{
    color: var(--cinza);
    font-size: 1.3vw;
    font-weight: 400;
}

.infoRelatorioGrid p{
    color: var(--cinza);
    font-size: 1.8vw;
}

.desativado{
    display: none;
}

.infoRelatorioVoce div{
    border-bottom: 5px solid var(--verde);
}

.infoRelatorioVoce h3, .infoRelatorioVoce p{
    color: var(--verde)

}


 /* ----------graficos----------- */

 .graficos{
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.grafico{
    padding: 3vh 2vw 4vh 2vw;
    display: flex;
    background-color: var(--branco);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
    border-radius: 5px;
    border-bottom: 5px solid var(--verdeClaro);

    height: 100px

}

.graficoGasto{
    border-bottom: 5px solid var(--vermelhoClaro) !important;
}

.numeros{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--cinza);
    font-size: 1vw;
}

.numeros li{
    list-style: none;
}

.numeros span{

}

.barras{
    display: flex;
    font-size: 1vw;
    color: var(--cinzaEscuro);
    width: 100%;
    justify-content: space-around;
    /* padding: 0 3vw; */
    position: relative;
}

.mes{
    position: absolute;
    bottom: -3vh;
    
}

.barras .barra {
    display: block;
    background-color: var(--verdeClaro);
    width: 5px;
   
    border-radius: 25px;
    position: absolute;
    bottom: 0;
    margin-left: 0.65vw;
    transition: .2s;
}

.tooltipLucro{
    position: absolute;
    color: var(--verdeEscuro);
    font-size: 1vw;
    width: 200%;
    transition: .3s;
    top: -3vh;
    left: 0;

    opacity: 0;
}

.barra:hover .tooltipLucro{
    opacity: 100;
}

.barraGasto{
    background-color: var(--vermelho) !important;
}


.barra:hover{
    background-color: var(--verde);
    width: 15px;
    margin-left: 0.35vw
}


.barraGasto:hover{
    background-color: var(--vermelhoClaro) !important;
}

.graficos h2{
    font-size: 1.5vw;
    color: var(--cinza);
    font-weight: 500;
    margin-bottom: 3vh;
}

.graficos button{
    border: 3px solid var(--cinza);
    font-family: 'Alata';
    font-size: 1vw;
    border-radius: 5px;
    background-color: transparent;
    color: var(--cinza);
    padding: 1vh 1vw;
    transition: .5s;
    margin-right: 1.5vw;
    margin-bottom: 3vh;
}

.graficos button:hover{
    border-color: var(--verde);
    color: var(--verde);
    cursor: pointer;

}

button.graficoAtual{
    background-color: var(--verde) !important;
    border-color: var(--verde);
    color: var(--branco)
}

button.graficoAtual:hover{
    cursor: default;
    color: var(--branco)
}

.graficoDesativado{
    display: none;
}

/* ----------graficos Voce----------- */

.graficosVoce{
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.graficoVoce{
    padding: 3vh 2vw 4vh 2vw;
    display: flex;
    background-color: var(--branco);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
    border-radius: 5px;
    border-bottom: 5px solid var(--verdeClaro);

    height: 100px

}

.graficoGastoVoce{
    border-bottom: 5px solid var(--vermelhoClaro) !important;
}

.numerosVoce{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--cinza);
    font-size: 1vw;
}

.numerosVoce li{
    list-style: none;
}

.numerosVoce span{

}

.barrasVoce{
    display: flex;
    font-size: 1vw;
    color: var(--cinzaEscuro);
    width: 100%;
    justify-content: space-around;
    /* padding: 0 3vw; */
    position: relative;
}

.mesVoce{
    position: absolute;
    bottom: -3vh;
    
}

.barrasVoce .barraVoce {
    display: block;
    background-color: var(--verdeClaro);
    width: 5px;
   
    border-radius: 25px;
    position: absolute;
    bottom: 0;
    margin-left: 0.65vw;
    transition: .2s;
}

.tooltipLucroVoce{
    position: absolute;
    color: var(--verdeEscuro);
    font-size: 1vw;
    width: 200%;
    transition: .3s;
    top: -3vh;
    left: 0;

    opacity: 0;
}

.barraVoce:hover .tooltipLucroVoce{
    opacity: 100;
}

.barraGastoVoce{
    background-color: var(--vermelho) !important;
}


.barraVoce:hover{
    background-color: var(--verde);
    width: 15px;
    margin-left: 0.35vw
}


.barraGastoVoce:hover{
    background-color: var(--vermelhoClaro) !important;
}

.graficosVoce h2{
    font-size: 1.5vw;
    color: var(--cinza);
    font-weight: 500;
    margin-bottom: 3vh;
}

.graficosVoce button{
    border: 3px solid var(--cinza);
    font-family: 'Alata';
    font-size: 1vw;
    border-radius: 5px;
    background-color: transparent;
    color: var(--cinza);
    padding: 1vh 1vw;
    transition: .5s;
    margin-right: 1.5vw;
    margin-bottom: 3vh;
}

.graficosVoce button:hover{
    border-color: var(--verde);
    color: var(--verde);
    cursor: pointer;

}

button.graficoAtualVoce{
    background-color: var(--verde) !important;
    border-color: var(--verde);
    color: var(--branco)
}

button.graficoAtualVoce:hover{
    cursor: default;
    color: var(--branco)
}

.graficoDesativadoVoce{
    display: none;
}





/* -----------------Lista----------------- */
.listaExtratos{
    margin-top: 5vh;
 }

 .listaExtratos h2{
    color: var(--cinza);
    font-weight: 400;
    font-size: 1.5vw;
 }

 .listaExtratos h2 span{
    font-size: 1.1vw;
 }

 .legendaLista{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    margin-top: 3vh;
    margin-bottom: 5vh;

    color: var(--cinza);
    font-size: 1.3vw;

    background-color: var(--branco);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
    border-radius: 5px;
    padding: 2.5vh 2vw
 }

 .legendaLista p:nth-child(3){
    grid-column: span 4 / span 6;
 }
/* 
 .listas{
    max-height: calc((3vh + 1.1vw + 2.5vh)*4.8);
    overflow: hidden;
 } */

 .extrato{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    margin-top: 3vh;

    color: var(--cinza);
    font-size: 1.1vw;

    background-color: var(--branco);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
    border-radius: 5px;
    padding: 2.5vh 2vw
 }

 .extrato > *:nth-child(3){
    grid-column: span 4 / span 6;
 }


 .extrato a{
    color: var(--verde)
 }

 .imprimir{
    margin-top: 5vh;
    margin-bottom: 5vh;

    border: none;
    background-color: var(--verde);
    color: var(--branco);
    font-family: 'Alata';
    font-size: 1vw;
    padding: 2vh 2vw;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
 }

 .imprimir:hover{
    transform: scale(1.1);
 }

 /* -----------------ListaVoce----------------- */
.listaExtratosVoce{
    margin-top: 5vh;
 }

 .listaExtratosVoce h2{
    color: var(--cinza);
    font-weight: 400;
    font-size: 1.5vw;
 }

 .listaExtratosVoce h2 span{
    font-size: 1.1vw;
 }

 .legendaListaVoce{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    margin-top: 3vh;
    margin-bottom: 5vh;

    color: var(--cinza);
    font-size: 1.3vw;

    background-color: var(--branco);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
    border-radius: 5px;
    padding: 2.5vh 2vw
 }

 .legendaListaVoce p:nth-child(3){
    grid-column: span 4 / span 6;
 }
/* 
 .listas{
    max-height: calc((3vh + 1.1vw + 2.5vh)*4.8);
    overflow: hidden;
 } */

 .extratoVoce{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    margin-top: 3vh;

    color: var(--cinza);
    font-size: 1.1vw;

    background-color: var(--branco);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
    border-radius: 5px;
    padding: 2.5vh 2vw
 }

 .extratoVoce > *:nth-child(3){
    grid-column: span 4 / span 6;
 }


 .extratoVoce a{
    color: var(--verde)
 }

 .imprimir{
    margin-top: 5vh;
    margin-bottom: 5vh;

    border: none;
    background-color: var(--verde);
    color: var(--branco);
    font-family: 'Alata';
    font-size: 1vw;
    padding: 2vh 2vw;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
 }

 .imprimir:hover{
    transform: scale(1.1);
 }


 /* --------pagination----------- */
 .pagination ul{
    display: flex;
    gap: 0.5rem;
    margin-top: 3vh;
 }

 .pagination ul li{
    list-style: none;
    line-height: 3vh;
    border: 2px solid var(--cinza);
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--cinza);
    font-size: 1rem;
    cursor: pointer;
    transition: .1s;
 }

 .numb:hover, .btn:hover{
    border-color: var(--verde);
    color: var(--verde);
    transform: scale(1.1);
 }



 .atualPagination{
    background-color: var(--verde);
    color: var(--branco) !important;
    border-color: var(--verde) !important;
    cursor:default !important;
 }

 .dots{
    cursor:default !important;
    border: none !important;
 }


 /* --------pagination Voce----------- */
 .paginationVoce ul{
    display: flex;
    gap: 0.5rem;
    margin-top: 3vh;
 }

 .paginationVoce ul li{
    list-style: none;
    line-height: 3vh;
    border: 2px solid var(--cinza);
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--cinza);
    font-size: 1rem;
    cursor: pointer;
    transition: .1s;
 }

 .numbVoce:hover, .btnVoce:hover{
    border-color: var(--verde);
    color: var(--verde);
    transform: scale(1.1);
 }



 .atualPaginationVoce{
    background-color: var(--verde);
    color: var(--branco) !important;
    border-color: var(--verde) !important;
    cursor:default !important;
 }

 .dotsVoce{
    cursor:default !important;
    border: none !important;
 }


/* ------------------------------------------- */

.question{
    width: 4vw;
    height: 4vw;
    border-radius: 50px;
    background-color: var(--verde);
    border: 4px solid var(--branco);
    font-size: 2vw;
    font-family: 'Alata';
    color: var(--branco);
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
    position: fixed;
    bottom: 5vh;
    right: 3vw;
    transition: .2s;
}

.question:hover{
    transform: scale(1.1);
    cursor: pointer;
}