
body{
    display: grid;
    grid-template-columns: 15vw 85vw;
    height: 100vh;
    background-color: var(--bc);
}

/* -----------SIDEBAR------------ */
.sidebar{
    background-color: var(--verde);
   
    
}

.teste{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.logo{
    width: 14vw;
    cursor: pointer;
}

.sidebar div div{
    width: 100%;
}

.sidebar div div div{
    color: var(--branco);
    padding: 1.3vh 0;
    margin-bottom: 1vh;
    cursor: pointer;
    width: fit-content;
}


.sidebar div div div a{
    position: relative;
    color: var(--branco);
    text-decoration: none;
}

.sidebar div div div a::after{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--branco);
    transition: 0.3s;
}

.sidebar div div div a:hover::after{
    width: 85%;
}

.entrarSala a, .criar a{
    transition: .5s;
}
.entrarSala a:hover, .criar a:hover{
    transform: scale(1.1);
}

.atual{
    width: 95% !important;
    border-radius: 0px 100px 100px 0px;
    background-color: var(--branco);
    padding: 1.3vh 10vw 1.3vh 0;
    margin-bottom: 1vh;

}

.atual a{
    color: var(--preto) !important;
}



.sidebar div div div a{
    margin-left: 1.5vw;
    font-size: 1vw;
    font-weight: 500;
    width: 100%;
    white-space: nowrap;
}

.sidebar .entrarSala{
    margin-top: 5vh;
    position: relative;
}

.sidebar .entrarSala::before{
    content: "";
    display: flex;
    position: absolute;
    top: -2vh;
    left: 0;
    width: 14vw;
    height: 2px;
    background-color: var(--branco);
}


/* ------------------Main------------------ */
.main{
    margin: 5vh 3vw
}

/* -----------------Header---------------- */
header{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 3vw;
    height: 3vw;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--verde);

}

header h2{
    font-size: 1.5vw;
    font-weight: 500;
    color: var(--cinza)
}

header span{
    font-size: 1.5vw;
    font-weight: 500;
    color: var(--verde)
}

/* ---------------Legenda---------------- */
.title{
    display: flex;
    gap: 4vw;
}
.title h1{
  color: var(--cinzaEscuro);
  font-size: 2vw;
}



/* ---------------Dados---------------- */

.rifasDados{
    margin-top: 3vh;
}

.rifasDados h2{
    color: var(--cinza);
    font-weight: 400;
    font-size: 1.5vw;
}

.rifasDadosGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
}

.rifasDadoGrid{
    background-color: var(--branco);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 3vh 0;
    gap: 5vh;
    border-bottom: 5px solid var(--verdeClaro);
    margin-top: 3vh;
}


.rifasDadosGrid h3{
    color: var(--cinza);
    font-size: 1.3vw;
    font-weight: 400;
}

.rifasDadoGrid p{
    color: var(--verde);
    font-size: 1.8vw;
}

.rifasDadoGrid .total{
    color: var(--azul);
    font-size: 1vw;
}

.turma{
    color: var(--azul) !important;
    border-color: var(--azulClaro) !important;
}


/* ----------------------Botoes------------------- */
.botoes{
    margin-top: 5vh;
}

.botoes button{
    margin-right: 3vw;
    border: none;
    border-radius: 5px;
    padding: 2vh 10vw 2vh 1vw;
    font-size: 1vw;
    color: var(--branco);
    background-color: var(--verde);
    cursor: pointer;
    transition: .5s;
}

.botoes button:hover{
   transform: scale(1.1);
}

.botoes a{
    text-decoration: none;
    color: var(--verde);
    cursor: pointer;
    font-size: 1.2vw;
    transition: .5s;
}

.botoes a:hover{
    transform: scale(1.1);
 }

 /* -----------------Lista----------------- */
 .listaRifas{
    margin-top: 5vh;
 }

 .listaRifas h2{
    color: var(--cinza);
    font-weight: 400;
    font-size: 1.5vw;
 }

 .listaRifas h2 span{
    font-size: 1.1vw;
 }

 .legendaLista{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    margin-top: 3vh;
    margin-bottom: 5vh;

    color: var(--cinza);
    font-size: 1.3vw;

    background-color: var(--branco);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
    border-radius: 5px;
    padding: 2.5vh 2vw
 }

 .legendaLista p:last-child{
    justify-self: center;
 }
/* 
 .listas{
    max-height: calc((3vh + 1.1vw + 2.5vh)*4.8);
    overflow: hidden;
 } */

 .lista{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    margin-top: 3vh;

    color: var(--cinza);
    font-size: 1.1vw;

    background-color: var(--branco);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
    border-radius: 5px;
    padding: 2.5vh 2vw
 }

 .lista p:last-child{
    width: 4vw;
    height: 3vh;
    background-color: var(--verde);
    border-radius: 25px;
    justify-self: center;
 }

 .lista p:nth-child(3){
    color: var(--verdeClaro)
 }

 .lista a{
    color: var(--verde)
 }

 /* --------pagination----------- */
 .pagination ul{
    display: flex;
    gap: 0.5rem;
    margin-top: 3vh;
 }

 .pagination ul li{
    list-style: none;
    line-height: 3vh;
    border: 2px solid var(--cinza);
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--cinza);
    font-size: 1rem;
    cursor: pointer;
    transition: .1s;
 }

 .numb:hover, .btn:hover{
    border-color: var(--verde);
    color: var(--verde);
    transform: scale(1.1);
 }



 .atualPagination{
    background-color: var(--verde);
    color: var(--branco) !important;
    border-color: var(--verde) !important;
    cursor:default !important;
 }

 .dots{
    cursor:default !important;
    border: none !important;
 }



 /* ------------rifas--------------- */

.rifas{
    margin-top: 5vh;

}

.gridRifas{
    margin-top: 3vh;
    display: grid;
    gap: 5vw;
    grid-template-columns: repeat(3, 1fr)
}

.rifa{
    background-color: var(--branco);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2vh 1vw 4vh 1vw;
}

.rifa::before{
    content: "";
    width: 20%;
    height: 2.5vh;
    position: absolute;
    top: 1.5vh;
    left: 0.5vw;
    border-radius: 25px;
    background-color: var(--verdeClaro);
}

.rifa h4{
    color: var(--cinza);
    font-size: 1vw;
    text-align: center;
    font-weight: 400;
    margin-bottom: 3vh;
}

.rifa img{
    width: 8vw;
    align-self: center
}


.rifa p{
    color: var(--verde);
    font-size: 1.3vw;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.rifa button{
    border: none;
    background-color: var(--verde);
    color: var(--branco);
    border-radius: 5px;
    padding: 2vh 3vw;
    font-family: 'alata';
    font-size: 0.8vw;
 
    
}

/* ------------------------------------------- */

.question{
    width: 4vw;
    height: 4vw;
    border-radius: 50px;
    background-color: var(--verde);
    border: 4px solid var(--branco);
    font-size: 2vw;
    font-family: 'Alata';
    color: var(--branco);
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
    position: fixed;
    bottom: 5vh;
    right: 3vw;
    transition: .2s;
}

.question:hover{
    transform: scale(1.1);
    cursor: pointer;
}