body{
    display: grid;
    grid-template-columns: 15vw 85vw;
    height: 100vh;
    background-color: var(--bc);
}

/* -----------SIDEBAR------------ */

.sidebar{
    background-color: var(--verde);
   
    
}

.teste{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.logo{
    width: 14vw;
}

.sidebar div div{
    width: 100%;
}

.sidebar div div div{
    color: var(--branco);
    padding: 1.3vh 0;
    margin-bottom: 1vh;
    cursor: pointer;
    width: fit-content;
}


.sidebar div div div p, .sidebar div div div a{
    position: relative;
}

.sidebar div div div p::after, .sidebar div div div a::after{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--branco);
    transition: 0.3s;
}

.sidebar div div div p:hover::after, .sidebar div div div a:hover::after{
    width: 85%;
}

.entrarSala p, .criar p, .entrarSala a, .criar a{
    transition: .5s;
}
.entrarSala p:hover, .criar p:hover, .entrarSala a:hover, .criar a:hover{
    transform: scale(1.1);
}

.atual{
    width: 95% !important;
    border-radius: 0px 100px 100px 0px;
    background-color: var(--branco);
    padding: 1.3vh 10vw 1.3vh 0;
    margin-bottom: 1vh;

}

.atual p, .atual a{
    color: var(--preto);
}



.sidebar div div div p, .sidebar div div div a{
    margin-left: 1.5vw;
    font-size: 1vw;
    font-weight: 500;
    width: 100%;
    white-space: nowrap;
}

.sidebar .entrarSala{
    margin-top: 5vh;
    position: relative;
}

.sidebar .entrarSala::before{
    content: "";
    display: flex;
    position: absolute;
    top: -2vh;
    left: 0;
    width: 14vw;
    height: 2px;
    background-color: var(--branco);
}

/* ------------------Main------------------ */
.main{
    margin: 5vh 3vw
}

/* -------------------Header------------------- */

.header{
    display: flex;
    align-items: center;
}

.header h1{
    font-size: 3vw;
    color: var(--cinzaEscuro);
    font-weight: 500;
}

.header h4{
    margin-left: 3vw;
    margin-top: 2vh;
    color: var(--cinza);
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    font-weight: 500;
}

.header h4:before{
    content: "";
    display: flex;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 5px;
    background-color: var(--verdeClaro);
}

.adminSquare:before{
    background-color: var(--azulClaro) !important;
}

/* ----------------Salas----------------- */
.salas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vh 3vw;
    margin-top: 5vh;
}

.sala{
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2vh;
    transition: .5s;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
    border-radius: 10px;
    position: relative;
}

.sala:hover{
    transform: scale(1.01);
}

.sala:before{
    content: "";
    display: flex;
    position: absolute;
    width: 100%;
    height: 2vh;
    background-color: var(--verde);
    top: 0;
    border-radius: 10px 10px 0 0;
}


.sala h2{
    color: var(--preto);
    font-weight: 500;
    font-size: 1.7vw;

}

.info{
    display: flex;
    flex-direction: column;

}

.info p{
    font-size: 1.2vw;
    color: var(--cinza)
}

.info p:first-child{
    color: var(--verde)
}

.sala button{
    width: 80%;
    border: none;
    background-color: var(--verde);
    color: var(--branco);
    border-radius: 5px;
    padding: 1.5vh 0;
    font-size: 1.2vw;
    transition: .5s;
}

.sala button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.true:before{
    background-color: var(--azul);
}
.true .info p:first-child{
    color: var(--azul)
}
.true button{
    background-color: var(--azul);
}

/* .entrarSala p{
    color: var(--cinza);
    transition: .5s;
}

.entrarSala::before{
    width: 0;
}

.entrarSala:hover{
    cursor: pointer;
    transform: scale(1.1);
    
}

.entrarSala:hover p{
    color: var(--verde);
    transform: scale(1.5);
} */

/* .criar{
    border: none;
    background-color: transparent;
    width: fit-content;
    height: fit-content;

    color: var(--azulClaro);
    font-size: 1.5vw;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.criar:hover{
    transform: scale(1.1);
} */


/* --------Modal------------ */
dialog::backdrop {
    backdrop-filter: blur(3px);
}

dialog{
    border: none;
    border-radius: 5px;
    align-items: center;
    padding: 5vh 0;

    text-align: center;
}


dialog h1,
dialog input,
dialog button,
dialog a {
    width: 60%; 
    box-sizing: border-box;
    margin-bottom: 3vh;
}

dialog h1{
    font-weight: 500;
    font-size: 1.3vw;

}

dialog input{
    border-radius: 5px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.100);
    border: 2px solid var(--cinzaClaro);
    padding: 1.5vh 2vw;
}

dialog input::placeholder{
    font-family: 'Alata';
    font-size: 1vw;
    color: var(--cinza);
    
}

dialog button{
    background-color: var(--verde);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    padding: 1vh;
    transition: .5s;
    margin-top: 3vh;
}

dialog button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

dialog a{
    text-align: center;
    font-family: 'Alata';
    font-size: 1vw;
    color: var(--cinza);
    text-decoration: none;
}

dialog p{
    font-family: 'Alata';
    font-size: 1vw;
    color: var(--cinza);
    text-align: start;
    display: inline;

}

dialog span{
    font-family: 'Alata';
    font-size: 1.1vw;
    color: var(--preto);
}

dialog p a{
    color: var(--verde);
    display: inline;
    margin-left: 5px;
}